# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Logs
*.log

# Python build artifacts
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/
